html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.clear{
     clear:both;
}
#PD120 {
  padding:0 120px;
}
.header {
  color: white;
  text-align: center;
  height: 600px;
  width: 100%;
  border: none;
  font-size: 52px;
}

.header > h2 {
  margin-top: 250px;
  font-family: 'PT Sans Narrow', sans-serif;
  /*font-family: 'Poiret One', cursive;*/
  text-shadow: 2px 2px 9px #222;
  filter: dropshadow(color=#222222, offx=2, offy=2);
  letter-spacing: 2px;
  font-style: normal;
  font-variant: normal;
}

#centering {
  text-align: center;
  /*background-color: blue;*/
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.FirstImage {
  display: inline-block;
  height: 100%;
  width: 200px;
  float: center;
  position: relative;
  /*background-color: red;*/
  text-align: center;
  margin: 20px 10px;
}

.SecondaryImage {
  display: inline-block;
  height: 100%;
  width: 400px;
  float: center;
  position: relative;
  /*background-color: red;*/
  text-align: center;
  margin: 20px 10px;
  vertical-align: top;
}

a > #GiftButton {
  background-color:#e87722;/*   ORANGE   */
  width: 150px;
  height: 40px;
  border-radius: 2px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
a > #GiftButton:hover {
  background-color: #954305;/*   DARK ORANGE   */
  color: #ffffff;
}
a > #MainGiftButton {
  background-color:#e87722;/*   ORANGE   */
  width: 200px;
  height: 45px;
  border-radius: 2px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
a > #MainGiftButton:hover {
  background-color: #954305;/*   DARK ORANGE   */
  color: #ffffff;
}

#orange {
  color:#e87722;/*   ORANGE   */
}
.orange {
  color:#e87722;/*   ORANGE   */
}
@media only screen and (min-width: 1716px) {
  #centering {
    text-align: center;
    /*background-color: blue;*/
    width: 100%;
    height: 100%;
    padding-left: 250px;
    padding-right: 250px;
  }
}

/* --------------------------------------------- Footer ---------------------------------------*/


footer {
  background-color: #151515;
  margin: 0;
  padding: 10px 100px 10px 100px;
  color: white;
  text-align: center;
  font-size: 12px;
  clear: both;
}


/* --------------------------------------------------- Mobile Phone ---------------------------------------------*/

@media only screen and (max-width: 320px) {
    /* styles for narrow IPHONE screens */

  .header {
  height: 400px;
  width: 100%;
  font-size: 18px;
  color: white;
  }
  .header > h2 {
    margin-top: 200px;
  }

  #PD120 {
    padding:0 10px;
  }
  #centering {
    padding-left: 0px;
    padding-right: 0px;
  }
  .SecondaryImage {
    display: inline-block;
    height: 100%;
    width: 100%;
    float: center;
    position: relative;
    /*background-color: purple;*/
    text-align: center;
    margin: 20px 0px;
  }
  .SecondaryImage > img {
    height: 100%;
    width: 100%;
  }
  footer {
    padding: 10px;
  }
}



/* --------------------------------------------------- Tablet ---------------------------------------------*/

@media only screen and (max-width: 916px) and (min-width: 320px) {
    /* styles for ipad screens */
  .header {
  height: 600px;
  width: 100%;
  font-size: 28px;
  color: white;
  }
.header > h2 {
  margin-top: 250px;
  letter-spacing: 0px;
}
  #PD120 {
    padding:0 20px;
  }
  #centering {
    text-align: center;
    /*background-color: blue;*/
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .FirstImage {
    display: block;
    height: 100%;
    width: 90%;
    float: center;
    position: relative;
    /*background-color: green;*/
    text-align: center;
    margin: 20px 10px;
  }
  .FirstImage > img {
    height: 100%;
    width: 100%;
  }
  a > #GiftButton {
    width: 90%;
    height: 70%;
    font-size: 20px;
  }
  a > #MainGiftButton {
    width: 90%;
    height: 70%;
    font-size: 20px;
  }
  .SecondaryImage {
    display: inline-block;
    height: 100%;
    width: 100%;
    float: center;
    position: relative;
    /*background-color: purple;*/
    text-align: center;
    margin: 20px 0px;
  }
  .SecondaryImage > img {
    height: 100%;
    width: 90%;
  }
  footer {
    padding: 10px;
  }
}

























/* Navigation */
#tf-menu {
  padding-left: 20px;
  padding-top: 20px;
  transition: all 0.8s;
}
#tf-menu.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #fff;
font-weight: 900;
left: 10%;
}

#tf-menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #fff;/* ---------------- navbar font conlor ------------------*/
  font-size: 12px;
  letter-spacing: 1px;
}

.on {
  background-color: #1e1e1e !important;
  padding: 3px 15px !important;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #454545 !important;
  background-color: transparent;
  font-weight: 700;
}

.navbar-toggle {
  border-radius: 0;
  }
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #454545;
  border-color: #454545;
  }
.navbar-default .navbar-toggle:hover>.icon-bar {
  background-color: #FFF;
  }



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

